.txt_center{
    text-align: center;
}
.txt_grande{
    font-size: 5em;
}
.color_blu{
    color: blue;
}
.width{
    width: 50%;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

